.crop-mobile-modal {
  background-color: var(--surface-fourth) !important;
}

.crop {
  user-select: none;

  @include desktop-media {
    max-width: var(--desktop-modal-width);
    width: 100%;
    padding: 32px 40px;
  }

  @include mobile-media {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }
}

.crop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  font-variation-settings: var(--bold-font-weight);
  font-size: var(--large-font-size);
  color: var(--on-surface-first);
}

.crop-content {
  position: relative;
  overflow: hidden;
  background-color: var(--surface-fourth);
  width: 100%;
  border-radius: var(--third-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  margin-bottom: 32px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.crop-content-circle {
  position: absolute;
  background-color: transparent;
  box-shadow: 0 0 0 400px rgba(0, 0, 0, 0.7);
  z-index: var(--default-z-index);
  border: 0.5px solid var(--on-surface-third);
  pointer-events: none;
}

.crop-content-img {
  position: absolute;
  z-index: var(--default-z-index);
  pointer-events: none;
}

.crop-btn {
  display: flex;
  gap: 16px;

  @include desktop-media {
    margin-top: 24px;
  }
  @include mobile-media {
    margin-top: auto;
  }
}