.home {
  @include desktop-media {
    background-color: #111111;
  }
}

.home-content {
  background-color: var(--surface-fourth);

  @include desktop-media {
    transform: translate3d(0, 0, 0);
    height: var(--min-full-height);
    max-width: var(--page-max-width);
    margin: 0 auto;
    overflow: clip;
  }
}

.home-content-fix {
  @include desktop-media {
    height: var(--min-full-height);
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }
  }
}

.home-page {
  background-color: var(--surface-fourth);
  padding: calc(var(--top-env-padding) + 20px) var(--first-solid-padding) calc(var(--bottom-env-padding) + 20px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home-page-card {
  background: linear-gradient(to left, var(--primary-color), var(--first-primary-glass-color));
  padding-inline: 16px;
  height: 80px;
  color: var(--on-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--third-radius);
  position: relative;
  overflow: clip;

  &:after {
    position: absolute;
    content: '';
    bottom: -8px;
    left: -15%;
    width: 56%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary-color);
  }
}

.home-page-card-first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  z-index: var(--default-z-index);
}

.home-page-card-first-title {
  font-size: var(--title-font-size);
  font-variation-settings: var(--bold-font-weight);
}

.home-page-card-first-desc {
  font-size: var(--small-font-size);
  font-variation-settings: var(--regular-font-weight);
}

.home-page-card-second {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: var(--default-z-index);
}

.home-page-card-second-top {
  font-variation-settings: var(--bold-font-weight);
  font-size: var(--huge-font-size);
  display: flex;
  align-items: center;
  gap: 4px;
}

.home-page-card-second-top-icon {
  width: 18px;
  fill: var(--on-primary-color);
}

.home-page-card-second {
  font-size: var(--tiny-font-size);
  font-variation-settings: var(--regular-font-weight);
}

.home-page-tab {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.home-page-tab-empty {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.home-page-tab-empty-icon {
  width: 100%;
}

.home-page-tab-empty-title {
  font-size: var(--title-font-size);
  font-variation-settings: var(--bold-font-weight);
  color: var(--on-surface-first);
  text-align: center;
}

.home-payment-card {
  border: 1px solid var(--outline-second);
  border-radius: var(--third-radius);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-payment-card-first {
  display: flex;
  gap: 8px;
  align-items: center;
}

.home-payment-card-first-tick {
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 50%;
  fill: var(--success-color);
  background-color: var(--success-container-color);
}

.home-payment-card-first-title {
  font-variation-settings: var(--medium-font-weight);
  font-size: var(--title-font-size);
  color: var(--on-surface-second);

  @include skeleton {
    border-radius: var(--second-radius);
  }
}

.home-payment-card-first-badge {
  color: var(--error-color);
  background-color: var(--error-container-color);
  padding: 2px 8px;
  border-radius: var(--fifth-radius);
  font-size: var(--tiny-font-size);
  font-variation-settings: var(--medium-font-weight);
}

.home-payment-card-second {
  display: flex;
  align-items: center;
  gap: 4px;
}

.home-payment-card-second-title {
  color: var(--on-surface-first);
  font-variation-settings: var(--bold-font-weight);
  font-size: var(--large-font-size);

  @include skeleton {
    border-radius: var(--second-radius);
  }
}

.home-payment-card-second-icon {
  width: 18px;
  fill: var(--on-surface-first);
}

.home-page-pay {
  position: fixed;
  bottom: 0;
  padding: 24px var(--first-solid-padding) calc(var(--bottom-env-padding) + 24px);
  inset-inline: 0;
  background-color: var(--surface-fourth);
  z-index: var(--default-z-index);
}
